{% extends '_layouts/base.html.twig' %}
{% block title %}
    Pagina empresa {# Aca puedes imprimir nombre de empresa para SEO #}
{% endblock title %}
{% block styles %}
    {{ parent()}}
    {# Libreria para sliders #}
    <link rel="stylesheet" href="{{assets_url()}}slick/slick/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
        
{% endblock styles %}
{% block meta %}
    {% include "components/SEO.html.twig" %}
{% endblock meta %}

{% block content %}
    {% include "components/top_menu.html.twig" %}
    {% include "components/header_empresa.html.twig" %}
    {% set descargar_catalogo = true %}
    {% include "components/navbar_empresa.html.twig" %}
    <h3>
        <i class="fa fa-download font-naranja"></i>
        Descargar Catálogos
    </h3>
    {% include "components/boton_solicitar_cotizacion.html.twig" %}
    <hr>
    {% include "components/lista_catalogos.html.twig" %}
    {% include "components/paginador.html.twig" %}
    <hr>
     <!--{% include "components/boton_solicitar_cotizacion.html.twig" %} -->
    <div class="row">
        <div class="col-xs-6" style="padding-right: 1px">
            {% include "components/boton_contactar.html.twig" %}
        </div>
        <div class="col-xs-6" style="padding-left: 1px">
            {% include "components/boton_telefono.html.twig" %}
        </div>
    </div>
    <hr>
    <br>
    {% include "components/etiquetas.html.twig" %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {# Libreria para sliders #}
    <script src="{{ assets_url() }}slick/slick/slick.min.js" ></script>
    <script src="{{js_url()}}slider.js"></script>
    <script src="{{js_url()}}social.js"></script>
    <script>
        jQuery(document).ready(function($) {
           $('.share').ShareLink({
                // se deben llenar los datos para compartir con los botones
                title: 'Lorem', 
                text: 'Lorem ipsum dolor sit amet', 
                image: '', 
                url: '', 
                width: 640, 
                height: 480 
            }) 
        });
{% endblock javascripts %}