{% extends '_layouts/base.html.twig' %}
{% block title %}
    Pagina empresa {# Aca puedes imprimir nombre de empresa para SEO #}
{% endblock title %}
{% block styles %}
    {{ parent()}}
    {# Libreria para sliders #}
    <link rel="stylesheet" href="{{assets_url()}}slick/slick/slick.css">
    <link rel="stylesheet" href="{{assets_url()}}swipebox/css/swipebox.min.css">
{% endblock styles %}
{% block meta %}
    {% include "components/SEO.html.twig" %}
{% endblock meta %}

{% block content %}
    {% include "components/top_menu.html.twig" %}
    {% include "components/header_empresa.html.twig" %}
    {% set inicio = true %}
    {% include "components/navbar_empresa.html.twig" %}
    {% include "components/banners.html.twig" %}
    {% include "components/slider-productos-principales.html.twig" %}
    {% include "components/boton_solicitar_cotizacion.html.twig" %}
    <br>
    <div class="row" style="background-color: #EEEEEE; padding-bottom: 10px;">
        <div class="col-xs-12">
            <h3>
                Nuestra empresa
            </h3>    
        </div>
    </div>
    {% include "components/nuestra-empresa.html.twig" %}
    <div class="row">
        <div class="col-xs-6" style="padding-right: 1px">
            {% include "components/boton_contactenos.html.twig" %}
        </div>
        <div class="col-xs-6" style="padding-left: 1px">
            {% include "components/boton_telefono.html.twig" %}
        </div>
    </div>
    <hr>
    {% include "components/redes_sociales.html.twig" %}
    <hr>
    {# Slider videos #}
    {% include "components/slider-touch-videos.html.twig" %}
    <br>
    {% include "components/slider-touch-productos.html.twig" %}
    <br>
    {% include "components/contacto.html.twig" %}
    <br>
    {% include "components/boton_solicitar_cotizacion.html.twig" %}
    <br>
    <div class="row separator"></div>
    {% include "components/etiquetas.html.twig" %} 
    {% include "components/footer.html.twig" %} 
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {# Libreria para sliders #}
    <script src="{{ assets_url() }}slick/slick/slick.min.js" ></script>
    <script src="{{ assets_url() }}swipebox/js/jquery.swipebox.min.js">
    </script>
    {% include "components/script.html.twig" %}
    <script src="{{js_url()}}inicio-movil.js"></script>
{% endblock javascripts %}