<div class="row">
    <div class="col-xs-12">
        {% for producto in productos %}
            <div class="row">
                <div class="col-xs-4">
                 <a href="{{ base_url() }}producto/ver/{{ producto.id }}">
                    <img class="img-responsive" src="{{producto.imagenes}}" alt="">
                    <!-- <img src="{{ producto.imagenes }}" alt="Imagen del producto"> -->
                    </a>
                </div>
                <div class="col-xs-8">
                    <h4>
                        <a href="{{ base_url() }}producto/ver/{{ producto.id }}">
                            <strong>
                                {{ producto.nombre }}
                            </strong>
                        </a>
                    </h4>
                    <div>
                        <span class="inline text-grey">

                            Pedido minimo:
                        </span>
                        <p class="inline">
                            <strong>
                                {{ producto.pedido_minimo }}
                            </strong>
                        </p>
                    </div>
                    <div>
                        <span class="inline text-grey">
                            Precio:
                        </span>
                        <p class="font-naranja inline">
                            {{ producto.precio_unidad }}
                        </p>
                    </div>
                    <div>
                        <a href="{{ base_url() }}producto/ver/{{ producto.id }}">
                            <i class="pull-right font-naranja glyphicon glyphicon-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <p>La empresa no ha publicado productos</p>
                </div>
            </div>            
        {% endfor %}
    </div>
</div>