<div class="row">
  <div class="navbar-empresa">

    <div class="{% if inicio %}active{% endif %}">
      <a class="btn btn-lg " href="{{base_url()}}empresa/inicio/{{empresa.id}}">
        <i class="fa fa-home"></i>
      </a>
    </div>
    <div class="{% if catalogo_producto %}active{% endif %}">    
      <a class="btn btn-lg " href="{{base_url()}}empresa/catalogo_producto/{{empresa.id}}">
        <i class="fa fa-list"></i>
      </a>
    </div>
    <div class="{% if nosotros %}active{% endif %}">
      <a class="btn btn-lg " href="{{base_url()}}empresa/nosotros/{{empresa.id}}">
        <i class="fa fa-briefcase"></i>
      </a>
    </div>
    <!--
    <div class="{% if cotizaciones_requeridas %}active{% endif %}">
      <a class="btn btn-lg " href="{{base_url()}}empresa/cotizaciones_requeridas/{{empresa.id}}">
        <i class="fa fa-file-text-o"></i>
      </a>
    </div> -->    
    <div class="{% if contacto %}active{% endif %}">
      <a class="btn btn-lg " href="{{base_url()}}empresa/contacto/{{empresa.id}}">
        <i class="fa fa-phone"></i>
      </a>
    </div>
    <div class="{% if descargar_catalogo %}active{% endif %}">
      <a class="btn btn-lg " href="{{base_url()}}empresa/descargar_catalogo/{{empresa.id}}">
        <i class="fa fa-download"></i>
      </a>
    </div>
  </div>
</div>
<!-- /.row -->