<div class="row">
    <div class="col-xs-12">
        <h3 class="titulos"><strong>Galería de Imágenes</strong></h3>
        <div class="multiple-items slider-imagenes">
        {% set count=0 %}
             {% for imagen in imagenes %}
              <!-- Cada item debe tener dos imagenes, una grande y una pequeña, asi la pagina va a cargar mas rapido, en la etiqueta a va la grande, en la img la pequeña. 80x50 considero es lo recomendado. -->
                <div>
                    <a rel="galery-productos" href="{{base_url()}}uploads/SOP/imagenes/{{imagen}}" class="swipebox">
                        <img src="{{base_url()}}uploads/resize/SOP/imagenes/{{imagen}}" alt="">
                        <p>{{titulos[count]}}</p>{% set count=count+1 %}
                    </a>
                  </div>
                <!-- aqui termina un item --> 
             {% endfor %}           
        </div>
    </div>
</div>