<div class="row">
	<div class="col-xs-12 productos_principales">
        <h3 class="titulos"><strong>Productos Principales</strong></h3>
        <div class="slider_producto">
            {% for producto in productos %}
                <div class="item_slider_producto">
                    <a href="{{base_url()}}producto/ver/{{producto.id}}">
                        <img src="{{producto.imagenes}}" alt="" class="imagen">
                        <p class="nombre_producto">{{ producto.nombre }}</p>
                        <p class="precio font-naranja">{{ producto.precio_unidad}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
		<div class="col-xs-12">
			<button class="btn ver_todo" onclick="location.href='{{ base_url() }}empresa/catalogo_producto/{{empresa.id}}'">Ver Todos</button>
		</div>
	</div>
	<!-- ./col-xs-12 -->
</div>
<!-- ./row -->
